src/main/resources/PhoneBook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="PhoneBooks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PhoneBook" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PhoneBook">
		<xs:complexType>
			<xs:sequence>
			    <xs:element type="xs:string" name="UserId" />
				<xs:element type="xs:integer" name="ContactId" />
				<xs:element type="xs:string" name="ContactName" />
				<xs:element type="xs:string" name="PhoneNumber" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>